name: Build

on: [push, pull_request]

jobs:
  build:
    runs-on: macos-latest
    
    steps:
    - uses: actions/checkout@v2
    
    - name: Build
      run: make
      
    - name: Upload Artifact
      uses: actions/upload-artifact@v2
      with:
        name: libKeylogger.dylib
        path: libKeylogger.dylib
